body {
    margin: 0;
    background-color: #1A191D;
    color: white;
    font-family: 'BergenMono', sans-serif;
    font-weight: 100;
    background-image: url(../website/visuals/pattern.png);
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: top;
    padding-top: 160px;
}

.lightblue { color: #4998A9;}
.card-blue {background-color: #2A3245;}
.fsize-14 {font-size: 14px;}
.fsize-16 {font-size: 16px;}
.fsize-20 {font-size: 20px;}
.fsize-24 {font-size: 24px;}
.fsize-26 {font-size: 26px;}
.fsize-48 {font-size: 48px; letter-spacing: 13px;}
.fsize-58 {font-size: 58px;}
.fsize-64 {font-size: 64px;}
.hi {font-family: 'Poppins', sans-serif; font-size: 32px; font-weight: bold; margin-top: 30px;}
.fw-semi {font-weight: 600;}
.h3-color {color: #E5C07B;}
.mt-10 {margin-top: 10px;}
.mt-60 {margin-top: 60px;}
.mt-145 {margin-top: 145px;}
.ml-120 {margin-left: -120px;}
.mr-120 {margin-right: 120px;}
.fw-medium {font-weight: 500;}
.upwork {color: #98C379;}
.number {margin-bottom: -20px;}
.smalltext {margin-top: -15px;}

.plain-text {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'BergenMono';
    src: 
        url(../website/BergenMono-Webfont/BergenMono-Regular.woff) format('woff'),
        url(../website/BergenMono-Webfont/BergenMono-Regular.woff2) format('woff2'),
        url(../website/BergenMono-Webfont/BergenMono-Bold.woff) format('woff'),
        url(../website/BergenMono-Webfont/BergenMono-Bold.woff2) format('woff2'),
        url(../website/BergenMono-Webfont/BergenMono-SemiBold.woff) format('woff'),
        url(../website/BergenMono-Webfont/BergenMono-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Futura';
    src: url(../website/futura/FuturaBT-Heavy.woff) format('woff'),
    url(../website/futura/FuturaBT-Heavy.woff2) format('woff2');
}

@-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
}

.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
  
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/* hand wave anim  */
.wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
}
  
@keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}
  
.poppins {
    font-family: 'Poppins', sans-serif;
}

.bergenfont {
    font-family: 'BergenMono', sans-serif;
    font-weight: 100;
}

.futura {
    font-family: 'Futura';
    font-weight: 900;
    font-style: normal;
    font-size: 112px;
}

.roboto {
    font-family: 'Roboto Mono', monospace;
}

.section {
    margin-bottom: 250px;
}

/* NAVBAR */

.logo {
    font-family: 'BergenMono', sans-serif;
    font-weight: 100;
    letter-spacing: -2px;
    font-size: 32px;
}

.btn {
    border: 1px solid #4998A9;
    font-size: 14px;
    padding: 15px 36px;
}

.btn:hover {
    background-color: #4998A9;
}

/* HEADER  */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

.header-txt {
    height: 100vh;
    margin: auto;
}

.nm {
    margin-top: -20px;
}

.social3 {
    font-size: 25px;
    color: lightgrey;
    margin-bottom: 25px;
}

.social2 {
    font-size: 28px;
    color: lightgrey;
    margin-bottom: 25px;
}

.social1 {
    font-size: 25px;
    margin-bottom: 25px;
    color:lightgrey;
}

.social1:hover {color: #4998A9;}
.social2:hover {color: #4998A9;}
.social3:hover {color: #4998A9;}

.line {
    border-left: 1px solid white;
    height: 100px;
}

.socials {
    position: fixed;
}

.socials::after {
    content: "";
    display: block;
    width: 1px;
    height: 80px;
    margin-left: 11px;
    background-color: grey;
}

/* ABOUT  */

.social-img1 {
    width: 42px;
    height: 42px;
}

.social-img2 {
    width: 40px;
    height: 45px;
}

.social-img3 {
    width: 42px;
    height: 38px;
}

.border1 {
    border-bottom: 2px solid #DF058D;
    border-width: 10px;
    margin-top: -20px;
}

.border2 {
    border-bottom: 2px solid #2C49D8;
    border-width: 10px;
    margin-top: -20px;
}

.card {
    width: 296px;
    height: 240px;
}

/* WORK HISTORY  */

.selector-border {
    border-left: 1px solid white;
    height: 122px;
    margin-right: 20px;
    opacity: 0.5;
}

.work-selector {
    margin-top: 68px;
}

/* PROJECTS  */

.project-card {
    background-color: #2A3245;
    width: 480px;
    /* z-index: 9999; */
    /* right: 100px; */
}

.project-card-inner {
    padding: 36px 24px 36px 16px;
}

.static {
    transform: translateZ(0);
  }