body {
    margin: 0;
    background-color: #1A191D;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 100;
    padding-top: 112px;
}

:root  {
    color-scheme: dark;
}

.main-img {
    width: 70%;
    margin: auto;
    position: absolute;
    opacity: 0.1;
    z-index: -9999;
}

html {
    scroll-behavior: smooth;
  }


.lightblue { color: #7C3AED;}
.tontine {color: #63b1ff;}
.purple {background-color: #706BE9;}
.card-blue {background-color: #201F24;}
.fsize-12 {font-size: 12px;}
.fsize-14 {font-size: 14px;}
.fsize-16 {font-size: 16px;}
.fsize-20 {font-size: 20px;}
.fsize-24 {font-size: 24px;}
.fsize-26 {font-size: 26px;}
.fsize-36 {font-size: 36px;}
.fsize-40 {font-size: 40px;}
.fsize-48 {font-size: 48px; letter-spacing: 13px;}
.fsize-48c {font-size: 48px; line-height: 86%;}
.fsize-58 {font-size: 58px;}
.fsize-64 {font-size: 64px;}
.fsize-96 {font-size: 96px;}
.fsize-126 {font-size: 126px;}
.fsize-186 {font-size: 186px;}
.hi {font-family: 'Poppins', sans-serif; font-size: 32px; font-weight: bold; margin-top: 30px;}
.fw-semi {font-weight: 600;}
.h3-color {color: #E5C07B;}
.mt-10 {margin-top: 10px;}
.mt-60 {margin-top: 60px;}
.mt-145 {margin-top: 145px;}
.ml-120 {margin-left: -120px;}
.mr-120 {margin-right: 120px;}
.fw-medium {font-weight: 500;}
.upwork {color: #98C379;}
.rhino {color: #E95964;}
.rhino:hover {color:#E95964}
.number {margin-bottom: -20px;}
.smalltext {margin-top: -15px;}

.plain-text {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

.section {padding-top: 48px;}


@font-face {
    font-family: 'BergenMono';
    src: 
        url(../website/BergenMono-Webfont/BergenMono-Regular.woff) format('woff'),
        url(../website/BergenMono-Webfont/BergenMono-Regular.woff2) format('woff2'),
        url(../website/BergenMono-Webfont/BergenMono-Bold.woff) format('woff'),
        url(../website/BergenMono-Webfont/BergenMono-Bold.woff2) format('woff2'),
        url(../website/BergenMono-Webfont/BergenMono-SemiBold.woff) format('woff'),
        url(../website/BergenMono-Webfont/BergenMono-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Futura';
    src: url(futura/futura_heavy.woff) format('woff'),
    url(futura/futura_heavy.woff2) format('woff2');
}

@-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
}


  
@keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}
  
.poppins {
    font-family: 'Poppins', sans-serif;
}

.bergenfont {
    font-family: 'BergenMono', sans-serif;
    font-weight: 100;
}

.futura {
    font-family: 'Futura';
    font-weight: 900;
    font-style: normal;
    font-size: 112px;
}

.roboto {
    font-family: 'Roboto Mono', monospace;
}

.section {
    margin-bottom: 250px;
}

/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    z-index: 999;
    transition: transform 0.5s ease-out;
}

.navbar-background {
    background-color: rgba(26, 25, 29, 0.5);
    backdrop-filter: blur(10px);
    transition: background-color 0.4s ease-in-out;
}

.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.5s ease-out;
}

.logo {
    font-family: 'BergenMono', sans-serif;
    font-weight: 100;
    letter-spacing: -2px;
    font-size: 32px;
}

.btn {
    border: 1px solid #7C3AED;
    font-size: 14px;
    padding: 15px 36px;
}

.btn:hover {
    background-color: #7C3AED;
}

/* .navbar-nav .nav-item a:hover {
    color: #4998A9 !important;
} */

.navbar-nav .nav-item a {
    color: white;
}

.navbar-nav .nav-item a:hover {
    color: #7C3AED;
}
  

/* HEADER  */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

.header-txt {
    height: 100vh;
    margin: auto;
}

.nm {
    margin-top: -20px;
}

.social3 {
    font-size: 25px;
    color: lightgrey;
    margin-bottom: 25px;
}

.social2 {
    font-size: 28px;
    color: lightgrey;
    margin-bottom: 25px;
}

.social1 {
    font-size: 25px;
    margin-bottom: 25px;
    color:lightgrey;
}

.social1:hover {color: #706BE9;}
.social2:hover {color: #706BE9;}
.social3:hover {color: #706BE9;}

.line {
    border-left: 1px solid white;
    height: 100px;
}

.socials {
    position: fixed;
}

.socials::after {
    content: "";
    display: block;
    width: 1px;
    height: 80px;
    margin-left: 11px;
    background-color: grey;
}

/* ABOUT  */

.social-img1 {
    width: 42px;
    height: 42px;
}

.social-img2 {
    width: 40px;
    height: 45px;
}

.social-img3 {
    width: 42px;
    height: 38px;
}

.border1 {
    border-bottom: 2px solid #DF058D;
    border-width: 10px;
    margin-top: -20px;
}

.border2 {
    border-bottom: 2px solid #2C49D8;
    border-width: 10px;
    margin-top: -20px;
}

.card {
    width: 296px;
    height: 240px;
}

/* WORK HISTORY  */

.selector-border {
    border-left: 2px solid white;
    height: 100px;
    margin-right: 20px;
    opacity: 0.5;
    border-radius: 5px;
}

.upwork-border {
    border-left: 2px solid green;
    padding-top: 10px;
    padding-bottom: 10px;
}

.iconic-border {
    border-left: 1px solid red;
    padding-top: 10px;
    padding-bottom: 10px;
}

.work-selector {
    margin-top: 68px;
}

/* PROJECTS  */

.project-card {
    background-color: #201F24;
    width: 480px;
}

.project-card-inner {
    padding: 36px 24px 36px 16px;
}

.static {
    transform: translateZ(0);
}

.edzi {
    color: white;
}

.edzi:hover {
    color: #4998A9;
}


/* NOTEWORTHY MENTIONS  */

.mention-card {
    background-color: #201F24;
    padding: 40px 30px 25px;
}

/* GET IN TOUCH  */

.contact-card-title {
    width: 60%;
}

.testimonials {
    background-color:#201F24;
    padding: 43px 40px 30px 34px;
}

.arrows {
    background-color: #1A191D;
    width: 50px !important; /* new */
    height: 50px !important; /* new */
    border-radius: 50%; /* new */
    text-align: center; /* new */
    line-height: 50px; /* new */
    vertical-align: middle; /* new */
    padding: 25px; /* new */
    position: relative;
}

.icon {
    left: 17px !important; /* new */
}

.share {
    color: white;
}

.share:hover {
    color: #4998A9;
}

.a-disabled {
    color: grey;
    pointer-events: none;
}

.main-text {
    height: 180px;
    max-width: 100%;
  }

  .testimonials {
    max-width: 450px;
    margin: 0 auto;
  }

.written-by {
    height: 70px;
    max-width: 100%;
}

button {
    border: none;
}


/* EDZI PROJECT PAGE */

.header-text {
    top: 55%;
    left: 15%;
    /* transform: translate(-55%); */
    /* display: block; */
    max-width: max-content;
}

.project-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.palette, .logo-dog {
    width: 623px;
    height: 613px;
}

.btn-three {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}
.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}

.btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(1.2,1.2);
}
.btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.border4 {
    border-bottom: 2px solid #4998A9;
    border-width: 10px;
    margin-top: -30px;
    width: 210px;
}

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

/* ICONICRV PROJECT PAGE  */

.border5 {
    border-bottom: 2px solid #4998A9;
    border-width: 15px;
    margin-top: -40px;
    width: 300px;
}

.viewlive {
    margin-top: 100px;
}

